@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

}
.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
    width: 100%;

}
.box{
    width: 30%;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(0, 247, 255);
    box-shadow: rgba(0, 238, 255, 0.432) 0px 30px 60px -12px inset, rgba(18, 150, 143, 0.3) 0px 18px 36px -18px inset;


}
.buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}
button{
    background-color: white;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(195, 226, 195);

}
button:hover{
    border: 1px solid cyan;
}
h3{
    font-size: 30px;
    font-weight: 700;
}
h1{
    font-size: 50px;
    font-weight: 500;
}

